<tbody class="nested-fields">
  <td><%= f.text_field :nombre, label: 'Nombre' %></td>
  <td><%= f.text_field :appaterno, label: 'Paterno' %></td>
  <td><%= f.text_field :apmaterno, label: 'Materno' %></td>
  <td><%= f.text_field :correo, label: 'Correo'  %></td>
  <td><%= f.text_field :puesto, label: 'Puesto' %></td>
  <td><%= f.text_field :departamento, label: 'Departamento' %></td>
  <td><%= f.text_field :telefono_directo, label: 'Teléfono' %></td>
  <td><%= link_to_remove_association 'Eliminar', f %></td>
</tbody>      