<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre fiscal:</strong>
  <%= @cliente.nombre_fiscal %>
</p>

<p>
  <strong>Nombre comercial:</strong>
  <%= @cliente.nombre_comercial %>
</p>

<p>
  <strong>String:</strong>
  <%= @cliente.string %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @cliente.rfc %>
</p>

<p>
  <strong>Calle numero:</strong>
  <%= @cliente.calle_numero %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @cliente.colonia %>
</p>

<p>
  <strong>Poblacion:</strong>
  <%= @cliente.poblacion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @cliente.codigo_postal %>
</p>

<p>
  <strong>Telefono oficina:</strong>
  <%= @cliente.telefono_oficina %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @cliente.telefono_celular %>
</p>

<p>
  <strong>Telefono directo:</strong>
  <%= @cliente.telefono_directo %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cliente.correo %>
</p>

<p>
  <strong>Medio contacto:</strong>
  <%= @cliente.medio_contacto %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @cliente.precio %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @cliente.presupuesto %>
</p>

<p>
  <strong>Credito:</strong>
  <%= @cliente.credito %>
</p>

<p>
  <strong>Revision lunes:</strong>
  <%= @cliente.revision_lunes %>
</p>

<p>
  <strong>Revision martes:</strong>
  <%= @cliente.revision_martes %>
</p>

<p>
  <strong>Revision miercoles:</strong>
  <%= @cliente.revision_miercoles %>
</p>

<p>
  <strong>Revision jueves:</strong>
  <%= @cliente.revision_jueves %>
</p>

<p>
  <strong>Revision viernes:</strong>
  <%= @cliente.revision_viernes %>
</p>

<p>
  <strong>Revision sabado:</strong>
  <%= @cliente.revision_sabado %>
</p>

<p>
  <strong>Cobro lunes:</strong>
  <%= @cliente.cobro_lunes %>
</p>

<p>
  <strong>Cobro martes:</strong>
  <%= @cliente.cobro_martes %>
</p>

<p>
  <strong>Cobro miercoles:</strong>
  <%= @cliente.cobro_miercoles %>
</p>

<p>
  <strong>Cobro jueves:</strong>
  <%= @cliente.cobro_jueves %>
</p>

<p>
  <strong>Cobro viernes:</strong>
  <%= @cliente.cobro_viernes %>
</p>

<p>
  <strong>Cobro sabado:</strong>
  <%= @cliente.cobro_sabado %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
