<div class="row">
  <div class="col-md-12">
     <h3><%= @cliente.nombre_fiscal %></h3>
     <%= link_to 'Editar', edit_cliente_path(@cliente) %> |
     <%= link_to 'Regresar', clientes_path %>
   </div>
 </div>
 <div class = "row">
   <div class="col-md-6">
     <h4><strong>Nombre comercial:</strong>
     <%= @cliente.nombre_comercial %></h4>
   </div>
   <div class="col-md-6">
     <h4><strong>RFC:</strong>
     <%= @cliente.rfc %></h4>
   </div>
</div>
<br>
<h4><em>Domicilio y medios de contacto:</em></h4>
<div class="row">
   <div class="col-md-3">
     <strong>Calle numero:</strong>
     <%= @cliente.calle_numero %>
   </div>
   <div class="col-md-3">
     <strong>Colonia:</strong>
     <%= @cliente.colonia %>
   </div>
   <div class="col-md-3">
     <strong>Poblacion:</strong>
     <%= @cliente.poblacion %>
   </div>
   
   <div class="col-md-3">
     <strong>Estado:</strong>
     <%= @cliente.estado %>
   </div>
</div>

<div class="row">
   <div class="col-md-3">
      <strong>Codigo postal:</strong>
      <%= @cliente.codigo_postal %>
  </div>
  <div class="col-md-3">
      <strong>Telefono oficina:</strong>
      <%= @cliente.telefono_oficina %>
  </div>

  <div class="col-md-3">
     <strong>Telefono celular:</strong>
     <%= @cliente.telefono_celular %>
  </div>

   <div class="col-md-3">
      <strong>Telefono directo:</strong>
      <%= @cliente.telefono_directro %>
   </div>
   <div class="col-md-3">
      <strong>Correo:</strong>
      <%= @cliente.correo %>
   </div>
   <div class="col-md-3">
      <strong>Medio contacto:</strong>
      <%= @cliente.medio_contacto %>
   </div>
</div>

<h4><em>Datos Financieros:</em></h4>
<div class="row">
   <div class="col-md-3">
      <strong>Precio:</strong>
      <%= @cliente.precio %>
   </div>

   <div class="col-md-3">
      <strong>Presupuesto:</strong>
     <%= @cliente.presupuesto %>
   </div>

   <div class="col-md-3">
     <strong>Credito:</strong>
     <%= @cliente.credito %>
   </div>
</div>
<br>

<h4><em>Cobranza:</em></h4>
<div class="row">
  <h5><strong><em>Revisión</em></strong></h5>
   <div class="col-md-2">   
     <strong>lunes:</strong>
     <%= check_box_tag('lunes:', @cliente.revision_lunes, @cliente.revision_lunes, disabled: true) %>
   </div>
   <div class="col-md-2">   
      <strong>martes:</strong>
      <%= check_box_tag('martes:', @cliente.revision_martes, @cliente.revision_martes, disabled: true) %>
    </div>
    <div class="col-md-2">   
       <strong>miercoles:</strong>
       <%= check_box_tag('miercoles:', @cliente.revision_miercoles, @cliente.revision_miercoles, disabled: true) %>
    </div>

    <div class="col-md-2">   
       <strong>jueves:</strong>
       <%= check_box_tag('jueves:', @cliente.revision_jueves, @cliente.revision_jueves, disabled: true) %>
    </div>

    <div class="col-md-2">   
      <strong>viernes:</strong>
      <%= check_box_tag('viernes:', @cliente.revision_viernes, @cliente.revision_viernes, disabled: true) %>
    </div>
    
    <div class="col-md-2">   
      <strong>sabado:</strong>
      <%= check_box_tag('sabado:', @cliente.revision_sabado, @cliente.revision_sabado, disabled: true) %>
    </div>
  </div>

  <div class="row">
     <h5><strong><em>Cobro</em></strong></h5>
     <div class="col-md-2">
        <strong>lunes:</strong>
        <%= check_box_tag('lunes:', @cliente.cobro_lunes, @cliente.cobro_lunes, disabled: true) %>
     </div>
  
     <div class="col-md-2">
       <strong>martes:</strong>
       <%= check_box_tag('martes:', @cliente.cobro_martes, @cliente.cobro_martes, disabled: true) %>
     </div>
       
     <div class="col-md-2">
       <strong>miercoles:</strong>
       <%= check_box_tag('miercoles:', @cliente.cobro_miercoles, @cliente.cobro_miercoles, disabled: true) %>
     </div>
       
     <div class="col-md-2">
       <strong>jueves:</strong>
       <%= check_box_tag('jueves:', @cliente.cobro_jueves, @cliente.cobro_jueves, disabled: true) %>
     </div>
       
     <div class="col-md-2">
       <strong>viernes:</strong>
       <%= check_box_tag('viernes:', @cliente.cobro_viernes, @cliente.cobro_viernes, disabled: true) %>
     </div>
       
     <div class="col-md-2">
       <strong>sabado:</strong>
       <%= check_box_tag('sa bado:', @cliente.cobro_sabado, @cliente.cobro_sabado, disabled: true) %>
     </div>
   </div>
   <br>

   <h4><em>Contactos:</em></h4>
   <table class="table">
      <thead>
         <tr>
           <th>Nombre </th>
           <th>Correo</th>
           <th>Puesto</th>
           <th>Departamento</th>
           <th>Teléfono</th>
         </tr>
      </thead>
      <tbody>
         <% @cliente.cliente_contactos.each do |contacto| %>
         <tr>
            <td><%= contacto.nombre %> <%= contacto.appaterno %> <%= contacto.apmaterno %></td>
            <td><%= contacto.correo %></td>
            <td><%= contacto.puesto %></td>
            <td><%= contacto.departamento %></td>
            <td><%= contacto.telefono_directo %></td>
      <% end %>
    </tr>
  </tbody>
</table>
</br>
</br>

