<p id="notice"><%= notice %></p>

<p>
  <strong>Id solicitud:</strong>
  <%= @solicitud_tanque.id_solicitud %>
</p>

<p>
  <strong>Tanque:</strong>
  <%= @solicitud_tanque.tanque %>
</p>

<p>
  <strong>Recipiente a presion:</strong>
  <%= @solicitud_tanque.recipiente_a_presion %>
</p>

<p>
  <strong>Espesor cuerpo:</strong>
  <%= @solicitud_tanque.espesor_cuerpo %>
</p>

<p>
  <strong>Espesor tapa:</strong>
  <%= @solicitud_tanque.espesor_tapa %>
</p>

<p>
  <strong>Espesor diametro:</strong>
  <%= @solicitud_tanque.espesor_diametro %>
</p>

<p>
  <strong>Espesor capacidad:</strong>
  <%= @solicitud_tanque.espesor_capacidad %>
</p>

<p>
  <strong>Espesor longitud altura:</strong>
  <%= @solicitud_tanque.espesor_longitud_altura %>
</p>

<p>
  <strong>No sold circunferencia:</strong>
  <%= @solicitud_tanque.no_sold_circunferencia %>
</p>

<p>
  <strong>No sold longitud:</strong>
  <%= @solicitud_tanque.no_sold_longitud %>
</p>

<p>
  <strong>Codigo evaluacion:</strong>
  <%= @solicitud_tanque.codigo_evaluacion %>
</p>

<%= link_to 'Edit', edit_solicitud_tanque_path(@solicitud_tanque) %> |
<%= link_to 'Back', solicitud_tanques_path %>
