<p id="notice"><%= notice %></p>

<h1>Contacto Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Departamento</th>
      <th>Cargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacto_clientes.each do |contacto_cliente| %>
      <tr>
        <td><%= contacto_cliente.nombre %></td>
        <td><%= contacto_cliente.telefono %></td>
        <td><%= contacto_cliente.correo %></td>
        <td><%= contacto_cliente.departamento %></td>
        <td><%= contacto_cliente.cargo %></td>
        <td><%= link_to 'Show', contacto_cliente %></td>
        <td><%= link_to 'Edit', edit_contacto_cliente_path(contacto_cliente) %></td>
        <td><%= link_to 'Destroy', contacto_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contacto Cliente', new_contacto_cliente_path %>
