<h1>Cotizaciones</h1>
<%= link_to 'Crear Cotizacion', new_cotizacion_path, class: 'btn btn-info' %>
<div id="myModal" class="modal" tabindex="-1" >
          <div class="modal-header"></div>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
          </div>
          </div>
        </div>
<table class="table">
  <thead>
    <tr>
      <th>Núm cotizacion</th>
      <th>Proyecto</th>
      <th>Cliente</th>
      <th>Solicitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizacions.each do |cotizacion| %>
      <tr>
        <td><%= cotizacion.num_cotizacion %></td>
        <td><%= cotizacion.proyecto.nombre_proyecto %></td>
        <td><%= cotizacion.cliente.nombre_comercial %></td>
        <td><%= cotizacion.solicitud_id %></td>
        <td><%= link_to 'Mostrar', cotizacion, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></td>
        <td><%= link_to 'Editar', edit_cotizacion_path(cotizacion) %></td>
        <td><%= link_to 'Borrar', cotizacion, method: :delete, data: { confirm: '¿Desea eliminar el registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



 
