<p id="notice"><%= notice %></p>

<p>
  <strong>Num cotizacion:</strong>
  <%= @cotizacion.num_cotizacion %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @cotizacion.proyecto %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cotizacion.cliente %>
</p>

<p>
  <strong>Solicitud:</strong>
  <%= @cotizacion.solicitud %>
</p>

<%= link_to 'Edit', edit_cotizacion_path(@cotizacion) %> |
<%= link_to 'Back', cotizacions_path %>
