<h4>TUBERIAS</h4>
<% if @solicitud.tuberia_altura_valor != nil %>
  <div class="col-md-6">
    <em>Altura Tuberia: </em><%= @solicitud.tuberia_altura_valor %>
  </div>
<% end %>

<% if @solicitud.tuberia_codigo_evaluacion.present? %>
  <div class="col-md-6">
    <em>Código de Evaluación: </em><%= @solicitud.tuberia_codigo_evaluacion %>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_hasta_2_y_medio != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones hasta 2 1/2: </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_hasta_2_y_medio %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_hasta_2_y_medio %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_3_a_8 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 3" a 8" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_3_a_8 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_3_a_8 %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_10_a_14 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 10" a 14" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_10_a_14 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_10_a_14 %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_16_a_20 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 16" a 20" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_16_a_20 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_16_a_20 %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_24_a_26 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 24" a 26" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_24_a_26 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_24_a_26 %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_30_a_32 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 30" a 32" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_30_a_32 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_30_a_32 %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_34_a_36 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 34" a 36" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_34_a_36 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_34_a_36 %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_38_a_42 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 38" a 42" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_38_a_42 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_38_a_42 %>
    </div>
  </div>
<% end %>

<% if @solicitud.tuberia_uniones_44_a_48 != nil %>
  <div class="row">
    <div class="col-md-2">
      <em>Uniones 44" a 48" : </em>
    </div>
    <div class="col-md-1">
      <%= @solicitud.tuberia_uniones_44_a_48 %>
    </div>
    <div class="col-md-3">
      <em>Cédula: </em><%= @solicitud.tuberia_cedula_44_a_48 %>
    </div>
  </div>
<% end %>

