<div class="card" style="width: 45rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @solicitud.cliente.nombre_comercial %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @solicitud.cliente_contacto.nombre %> </h6>
    <p class="card-text">
      <strong>Proyecto:</strong>
      <%= @solicitud.proyecto %><br>
      <strong>Estatus:</strong>
      <%= @solicitud.estatus %><br>
      <strong>Comentarios:</strong>
      <%= @solicitud.comentarios %><br>
      <strong>User:</strong>
      <%= @solicitud.user.name %><br>
    </p>
    <strong>SERVICIOS</strong>
    

    <strong>ESTRUCTURAS</strong>
    

    <strong>TANQUES</strong>
    

    <strong>TUBERIAS</strong>
    

    <%= link_to 'Editar', edit_solicitud_path(@solicitud), class: 'card-link' %> |
    <%= link_to 'Regresar', solicituds_path, class: 'card-link' %>

    </div>
</div>
