<p id="notice"><%= notice %></p>

<p>
  <strong>Proyecto:</strong>
  <%= @solicitud.proyecto %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @solicitud.estatus %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @solicitud.comentarios %>
</p>

<p>
  <strong>User:</strong>
  <%= @solicitud.user.name %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @solicitud.cliente.nombre_comercial %>
</p>

<p>
  <strong>Cliente contacto:</strong>
  <%= @solicitud.cliente_contacto.nombre %>
</p>

<%= link_to 'Edit', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Back', solicituds_path %>
